.title-logo-container {
  display: flex;
  align-items: center;
  gap: 10%;
}
.title-logo-container h1 {
  font-size: 24px;
  color: white;
  white-space: nowrap;
}
.title-logo-container img {
  width: 24px;
  height: 24px;
}
header {
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: rgb(48, 91, 148);
  flex-basis: 35%;
  justify-content: space-between;
  padding: 0 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav-link a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0 10px;
}
/* create underline t on nav-link a */
.nav-link a:hover {
  border-bottom: 2px solid white;
}
